<div *ngIf="loadPublications.length > 0;else noPublication" class="boostrap-wrapper animate__animated animate__fadeIn">
    <div class="container-fluid">
      <mat-card  class="col-12 mb20 ">
        <mat-card-content>
          <mat-card-title class="text-center"> Publications </mat-card-title>
        </mat-card-content>
      </mat-card>
  
      <div class="row" *ngIf="loadPublications">
        <div 
          class="col-md-4 "
          *ngFor="let publication of loadPublications"
        >
          <div class="card mb-2" >
            <blog-card-components  [publication]="publication" ></blog-card-components>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noPublication>
    <mat-card  class="col-12  boostrap-wrapper animate__animated animate__fadeIn">
      <mat-card-content>
        <mat-card-title class="text-center"> No hay publicaciones disponibles para la categoria {{categoryId}} </mat-card-title>
      </mat-card-content>
    </mat-card>
  </ng-template>
  
  