<div class="boostrap-wrapper animate__animated animate__fadeIn">
  <div class="container-fluid">
    <blog-publication-details-components
      [publication]="publication"
    ></blog-publication-details-components>
    <!-- SI ES LOGEADO COMO USUARIO MOSTRAMOS EL PANEL DE AGREGAR COMENTARIO -->

    <mat-card class="mt20" *ngIf="isLogged()">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <form
              [formGroup]="myFormComment"
              class="mt20"
              (ngSubmit)="onSubmitCommentPublication()"
            >
              <mat-form-field class="w100">
                <mat-label>Name</mat-label>
                <input formControlName="nombre" [readonly]="true" matInput />
              </mat-form-field>

              <mat-form-field class="w100">
                <mat-label>Email</mat-label>
                <input formControlName="email" [readonly]="true" matInput />
              </mat-form-field>

              <mat-form-field class="w100">
                <mat-label>Comments</mat-label>
                <textarea
                  formControlName="texto"
                  type="text"
                  placeholder="enter comment..."
                  rows="5"
                  matInput
                >
                </textarea>
                <mat-error *ngIf="onValidateField('texto')">
                  the description <strong>{{ onValidateLengthField("texto") }}</strong>
                </mat-error>
              </mat-form-field>

              <div class="container text-center">
                <button
                  type="submit"
                  class="mb10"
                  [disabled]="myFormComment.invalid"
                  mat-raised-button
                  color="primary"
                >
                  Add Comment
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- LISTAMOS LOS  COMENTARIOS A NIVEL PUBLICO PODEMOS CREAR REUTILIZACION DE COMPONENTE  -->

    <mat-card class="mt20 mb20">
      <div class="container">
        <mat-table [dataSource]="comments" matSort>
          <!-- Columna "Nombre" -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Usuario</mat-header-cell
            >
            <mat-cell *matCellDef="let comment">{{ comment.nombre }}</mat-cell>
          </ng-container>

          <!-- Columna "Email" -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >email</mat-header-cell
            >
            <mat-cell *matCellDef="let comment">{{ comment.email }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="texto">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >comments</mat-header-cell
            >
            <mat-cell *matCellDef="let comment">{{ comment.texto }}</mat-cell>
          </ng-container>

          <!-- Columna "Acciones" -->
          <ng-container
            *ngIf="isLogged()"
            matColumnDef="actions"
          >
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell  *matCellDef="let comment">
              <button
                mat-icon-button
                color="warn"
                *ngIf="comment.user.id === userId.id"
                (click)="deleteComment(comment.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
   

          <!-- Filas -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let comment; columns: displayedColumns"
          ></mat-row>
        </mat-table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          [length]="totalComments"
          [pageSize]="pageSize"
          [pageIndex]="page"
          (page)="pageEvents($event)"
          showFirstLastButtons
        >
        </mat-paginator>

        <!--   <mat-card class="col-12 mt20 custom-border">
        <mat-card-header>
          <mat-card-title>erich</mat-card-title>
          <mat-card-subtitle>erich***@gmai.com</mat-card-subtitle>
        </mat-card-header>
          <mat-list>
            <mat-list-item>
              <p>hola esta bien tus ppruebas </p>
            </mat-list-item>
          </mat-list>
      </mat-card>

      <mat-card class="col-12 mt20 custom-border">
        <mat-card-header>
          <mat-card-title>RICAROD</mat-card-title>
          <mat-card-subtitle>ricardo***@gmai.com</mat-card-subtitle>
        </mat-card-header>
          <mat-list>
            <mat-list-item>
              <p>hola esta bien tus ppruebas MEJORA EL DISEno </p>
            </mat-list-item>
          </mat-list>
      </mat-card> -->
      </div>
    </mat-card>
  </div>
</div>
