
  <div class="boostrap-wrapper animate__animated animate__fadeIn">
    <div class="container-fluid">
      <blog-publication-details-components [publication]="publication"></blog-publication-details-components>

      <!-- LISTAMOS LOS  COMENTARIOS A NIVEL PUBLICO -->
      <mat-card class="col-12 mt20 custom-border">
        <mat-card-header>
          <mat-card-title>erich</mat-card-title>
          <mat-card-subtitle>erich***@gmai.com</mat-card-subtitle>
        </mat-card-header>
          <mat-list>
            <mat-list-item>
              <p>hola esta bien tus ppruebas </p>
            </mat-list-item>
          </mat-list>
      </mat-card>

      <mat-card class="col-12 mt20 custom-border">
        <mat-card-header>
          <mat-card-title>RICAROD</mat-card-title>
          <mat-card-subtitle>ricardo***@gmai.com</mat-card-subtitle>
        </mat-card-header>
          <mat-list>
            <mat-list-item>
              <p>hola esta bien tus ppruebas MEJORA EL DISEno </p>
            </mat-list-item>
          </mat-list>
      </mat-card>

    </div>
  </div>

